/*========== Nav Bar/MOBILE First ==========*/
ul{
    list-style: none;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.nav{
    max-width: 968px;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*==========
 Fim Nav Bar/MOBILE First 
==========*/

/*========== Logo/MOBILE First ==========*/
.nav-logo{
    position: relative;
    top: 2rem;
    left: 2rem;
    color: #fff;
    font-weight: 400;
}

.nav-logo{
    font-family:'Outfit-Regular';
    font-size: 1.5rem;
}

.nav-logo span{
    font-family: 'Outfit-Regular';
    font-size: 2.5rem;
}

/*========== 
Fim Log/MOBILE First 
==========*/

/*========== Botoes/MOBILE First ==========*/
.nav__btns{
    position: fixed;
    bottom: 3rem;
    left: 80vw;
    z-index: 1;
}

.nav__toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: #fff;
}

.nav-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.875rem;
    color: var(--font-clr-white);
    font-family: 'Nunito-sans-Medium';
}

.nav-link:hover{
    color: #7CD3DD;
}

.nav__icon{
    font-size: 1.2rem;
}
/*==========
 Fim botões/MOBILE First 
==========*/

/*========== Close/MOBILE First ==========*/
.nav__close{
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.nav__close:hover{
    color: #000;
}
/*==========
 Fim Close/MOBILE First 
==========*/


/*========== media querys/MOBILE First ==========*/

@media screen and (min-width: 0px) and (max-width: 768px){
    .nav-menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        z-index: 100;
    }
}

/* Mostra menu JS */
.show-menu{
    bottom: 0;
}

/*========== media querys/Tablet ==========*/
@media screen and (min-width: 769px) and (max-width: 1440px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
    
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }

    .nav-logo,
    .nav-logo{
        position: relative;
        top: 0;
        left: 2rem;
    }

    .nav{
        width: 60%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 15rem;
        border-bottom-left-radius: 15rem;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.6);
        z-index: 1; 
    }

    .grid{
        display: flex;
        justify-content: space-around;
    }    

    .nav-link{
        font-size: 1.3rem;
    }
}